body {
  font-family: "Helvetica Neue", sans-serif;
  background-color: #C4C029;
  padding: 3px;
  margin: 5px;
}

* {
  box-sizing: border-box;
}
label, h1 {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: white;
  font-size: 30px;
}

#table {
  padding: 0 5px 5px 5px;
  border: 3px dotted #EDEDED;
  background: #F8A69E;
  margin-top: 0;
}
#hand {
  width: 55%;
  margin: auto;
  padding-top: 0;
  padding-bottom: 10px;
}

.hand {
  padding: 5px;
  border-radius: 3px;
  height: 132px;
  background: #84C49A;
  margin-bottom: 5px;
}

.hand label {
  float: left;
  margin: 0 5px;
}

.hand img {
  width: 85px;
  display: block;
  float: left;
  margin-left: 5px;
}

#messages {
  color: white;
  font-size: 1.2em;
  text-align: center;
  height: 2em;
}

.buttons {
  text-align: center;
}

.buttons button {
  border: 3px solid white;
  border-radius: 5px;
  background: #C4C029;
  font-size: 1em;
  font-family: 'Dancing Script', cursive;
  padding: 5px 10px;
  color: grey;

}

.buttons button:hover {
  box-shadow: 0px 1px 1px black;
}

.buttons button:focus {
  outline: none;
}

.buttons button:active {
  color: white;
  background: #C4C029;
  border: 1px solid black;
}

.card {
  height: 100%;
}

@media screen and (max-width: 680px) {
    #hand {
        width: 90%;
    }
